nav.navbar.navbar-expand-sm.navbar-dark.fixed-top(style='background-color: #1b4965;')
    a.navbar-brand(href='index') Student Management
    button.navbar-toggler(data-toggle='collapse' data-target='#expandme')
        span.navbar-toggler-icon
    #expandme.collapse.navbar-collapse
        .navbar-nav
            a.nav-item.nav-link(href='home') Home
            a.nav-item.nav-link(href='student') Student
            a.nav-item.nav-link(href='course') Course
            a.nav-item.nav-link(href='grade') Grade
            a.nav-item.nav-link(href='teacher') Teacher
            a.nav-item.nav-link(href='attendance') Attendance