doctype html
head
    title Course
    include components/header.pug
include components/navbar.pug
main.home
    include:table_type_filter(type='course') components/title_action_buttons.pug
include components/footer.pug
