doctype html
head
    title Grade
    include components/header.pug
include components/navbar.pug
main.home
    include:table_type_filter(type='grade') components/title_action_buttons.pug
include components/footer.pug
