doctype html
head
    title Student Management Website
    include components/header.pug
include components/navbar.pug
main(role='main')
    .container-fluid.hero.d-flex.align-items-center.justify-content-center
        .text-center
            h1.display-1.mb-0.text-primary-emphasis WELCOME TO
            h2.display-4.mt-0.text-primary-emphasis Student Management System
            .login-welcome-signup
    .container
        .row
            .col-md-7
                h3 About this website
                p.lead
                    | This system allows you to manage student attendance, courses, grades, teachers, and more.
        .row
            .col-sm-6.my-4
                h4 Student
                p.text-muted
                    | Duo alii civibus nostrum eu. Appetere vulputate no vim, ad usu nihil
                    | assueverit, suscipit
                    | ponderum posidonium mea ea. Ne eam malis percipit, sonet ludus eum eu. Causae latine scripta cu
                    | sed, vis sensibus adipiscing persequeris ea, eros eripuit concludaturque in per
            .col-sm-6.my-4
                h4 Course
                p.text-muted
                    | Duo alii civibus nostrum eu. Appetere vulputate no vim, ad usu nihil
                    | assueverit, suscipit
                    | ponderum posidonium mea ea. Ne eam malis percipit, sonet ludus eum eu. Causae latine scripta cu
                    | sed, vis sensibus adipiscing persequeris ea, eros eripuit concludaturque in per
            .col-sm-6.my-4
                h4 Teacher
                p.text-muted
                    | Duo alii civibus nostrum eu. Appetere vulputate no vim, ad usu nihil
                    | assueverit, suscipit
                    | ponderum posidonium mea ea. Ne eam malis percipit, sonet ludus eum eu. Causae latine scripta cu
                    | sed, vis sensibus adipiscing persequeris ea, eros eripuit concludaturque in per
            .col-sm-6.my-4
                h4 Management
                p.text-muted
                    | Duo alii civibus nostrum eu. Appetere vulputate no vim, ad usu nihil
                    | assueverit, suscipit
                    | ponderum posidonium mea ea. Ne eam malis percipit, sonet ludus eum eu. Causae latine scripta cu
                    | sed, vis sensibus adipiscing persequeris ea, eros eripuit concludaturque in per
    .container.marketing
        // Three columns of text below the carousel
        .row
            .col-lg-4
                h2 Cao Thị Thu Hà
                p 20215271
                p
                    a.btn.btn-secondary(href='https://www.facebook.com/hacaothu.03/' role='button') View details &raquo;
            .col-lg-4
                h2 Phan Huy Hiệp
                p 20210328
                p
                    a.btn.btn-secondary(href='https://www.facebook.com/hacaothu.03/' role='button') View details &raquo;
            .col-lg-4
                h2 Đặng Trần Nam Khánh
                p 20215278
                p
                    a.btn.btn-secondary(href='https://www.facebook.com/hacaothu.03/' role='button') View details &raquo;
include components/footer.pug
