doctype html
head
    title Student Management Website
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk' crossorigin='anonymous')
    link(href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='login.css')
    link(rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css')
nav.navbar.navbar-expand-sm.navbar-dark.fixed-top(style='background-color: #1b4965;')
    a.navbar-brand(href='index.html') Student Management
    button.navbar-toggler(data-toggle='collapse' data-target='#expandme')
main(role='main')
    .login
        form(action='#' onsubmit='Login()')
            h2 SIGN IN
            .inputbox
                span.icon
                    i.bx.bx-envelope
                input#username(type='username' required='')
                label Username
            .inputbox
                span.icon
                    i.bx.bx-lock-alt
                input#password(type='password' required='')
                label Password
            button.button(type='submit' onclick='handleLogin()') Login
script(src='https://cdn.jsdelivr.net/npm/js-yaml@4.1.0/dist/js-yaml.min.js' integrity='sha256-Rdw90D3AegZwWiwpibjH9wkBPwS9U4bjJ51ORH8H69c' crossorigin='anonymous')
script(src="{{url_for('static', filename='app.js')}}")
