doctype html
head
    title Teacher
    include components/header.pug
include components/navbar.pug
main.home
    include:table_type_filter(type='teacher') components/title_action_buttons.pug
include components/footer.pug
